<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
	<appSettings>
		
		<!-- Код налогового органа -->		
		<add key="CodeNO" value="8600" />
		
		<!-- НАЧАЛО НАСТРОЙКИ РАЗДЕЛА УВОЛЬНЕНИЕ -->
		<!-- включение/отключение выгрузки информации (True - вкл., False - выкл.) -->
		<add key="CheckDismissial" value="True"/>
		<!-- количество дней (-+ от текущей даты) в рамках которых выполняется поиск по дате увольнения сотрудника (ITEM_DIS_FACE.DIS_DATE) -->
		<add key="DismissalCountDays" value="4" />		
		<!-- КОНЕЦ НАСТРОЙКИ РАЗДЕЛА УВОЛЬНЕНИЕ -->
				
		<!-- НАЧАЛО НАСТРОЙКИ РАЗДЕЛА ПЕРЕВОД -->
		<!-- включение/отключение выгрузки информации (True - вкл., False - выкл.) -->
		<add key="CheckMoving" value="True"/>
		<!-- количество дней (-+ от текущей даты) в рамках которых выполняется поиск по дате перевода (ITEM_MOVE.DATE_BEGIN) -->
		<add key="MovingCountDays" value="4" />
		<!-- КОНЕЦ НАСТРОЙКИ РАЗДЕЛА ПЕРЕВОД -->

		<!-- НАЧАЛО НАСТРОЙКИ РАЗДЕЛА ОТПУСК -->
		<!-- включение/отключение выгрузки информации (True - вкл., False - выкл.) -->
		<add key="CheckVacation" value="True"/>
		<!-- количество дней (-+ от текущей даты) в рамках которых выполняется поиск по дате перевода (VACATION_REAL.DATE_BEGIN) -->
		<add key="VacationCountDays" value="4" />
		<!-- коды отпусков (посмотреть коды отпусков можно в ПК "ДКС", задача "Кадры", ветка "Справочники - Учет рабочего времени - Виды отпусков") -->
		<add key="VacationTypeCode" value="03,22,48,49" />
		<!-- КОНЕЦ НАСТРОЙКИ РАЗДЕЛА ОТПУСК -->
				
		<!-- НАЧАЛО НАСТРОЙКИ ПОЧТОВОГО СЕРВЕРА -->
		<!-- имя (адрес) почтового (SMTP) сервера -->
		<add key="EmailServerName" value="smtpServerName"/>
		<!-- порт почтового сервера -->
		<add key="EmailServerPort" value="25"/>
		<!-- адрес отправителя -->
		<add key="EmailFrom" value="dks-notifier@dks.ru"/>
		<!-- адрес(а) получателя(ей) -->
		<add key="EmailTo" value="dks-notifier8600@nalog.ru"/>
		<!-- включение/отключение направления уведомлений по почте (True - вкл., False - выкл.) -->
		<add key="EmailSend" value="True" />
		<!-- КОНЕЦ НАСТРОЙКИ ПОЧТОВОГО СЕРВЕРА -->
		
		<!-- использовать выгрузку html-файлов с информацией об увольнении, перводе, отпуске... (True - вкл., False - выкл.)  -->
		<add key="UseOutFile" value="True" />
		<!-- каталог выгрузки html-файлов с информацией об увольнении, перводе, отпуске...
		(аналогичная информация направляется по почте) -->
		<add key="DirOut" value=".\HtmlOut" />
		
	</appSettings>
	<connectionStrings>
		<!-- строка подключения к MS SQL серверу ПК "ДКС" -->
		<!-- вместо dksServer укажите имя (или ip-адрес) вашего сервера ПК "ДКС" -->
		<!-- вместо dksDb укажите наименование базы данных ПК "ДКС" -->
		<add name="Mssql" connectionString="Server=dksServer;Database=dksDb;Integrated Security=True"/>
	</connectionStrings>
</configuration>
